@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: none;
}

html,
body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #343541;
  color: #f3f4f6;
  font-family: "Open Sans Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
